<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Full</th>
        <th>Short</th>
      </tr>
    </thead>
    <tbody>
      <% shortUrls.forEach((shortUrl, key) => { %>
      <tr>
        <th><%= key+1 %></th>
        <td>
          <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
        </td>
        <td>
          <a href="<%= shortUrl.short %>">hello.com/<%= shortUrl.short %></a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
